/CelebA
/datasets
/example_images

/fairface/dataset
/fairface/detected_faces
/fairface/fair_face_models

/fairface/raw_input
/fairface/raw_input_auto_gender
/fairface/raw_input_auto_gender_cropped
/fairface/raw_input_new
/fairface/tmp_detections

/outputs
/DMimageDetection/TestSet
/DMimageDetection/weights

.neptune

/facenet_pytorch/data

*.pyc