/CelebA
/datasets
/example_images

/fairface/dataset
/fairface/detected_faces
/fairface/detected_faces_CelebA
/fairface/detected_faces_CelebA_10k_aug_samples
fairface/detected_faces_CelebA_10k_aug_samples_correct_gender
/fairface/fair_face_models

/fairface/raw_input
/fairface/raw_input_auto_gender
/fairface/raw_input_auto_gender_cropped
/fairface/raw_input_new
/fairface/tmp_detections

/outputs
fairface/detected_faces/000239_4_southeast asian_face0.jpg
